.head__container {
  display: flex;
  align-items: center;
}
.head {
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--header-border);
}
.head__nav {
  display: flex;
  align-items: center;
}

.logo_head {
  margin-right: 93px;
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--nav-link-color);
}
.logo_left {
  color: var(--accent-color);
}
.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.menu-contact__icon_mail {
  height: 12px;
  width: 16px;
  margin-right: 10px;
}
.menu-contact__icon_tel {
  height: 16px;
  width: 10px;
  margin-right: 10px;
}
.menu-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.menu-contact__item {
  margin-left: auto;
  margin-right: 50px;
}
.menu__link,
.menu-contact__link {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}
.mail,
.tel {
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
}
.current {
  color: var(--accent-color);
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    margin-top: 79px;
    border-radius: 2px;
  }
}
